/* need to adjust as needed - use a template and learn to do it myself!
Color Palette:
lightest purple1: #f1eff1;
light purple2: #cec7cf;
pink: #f61067;
mid purple4: #927f92;
dark purple5: #24232c;

Font Family in CSS 
font-family: 'Raleway', sans-serif;
font-family: 'Lora', serif;
*/

/*-------------------*/
/*BASIC SETUP*/
/*-------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

html,
body {
    background-color: #cec7cf;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-family: 'Raleway', sans-serif;
    word-spacing: 5px;
    letter-spacing: 2px;
}

h1 {
    text-transform: uppercase;
    font-weight: 200;
}

p {
    font-family: 'Raleway', sans-serif;
}


/*-------------------*/
/*REUSABLE COMPONENTS*/
/*-------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

/*-------------------*/
/*HEADER*/
/*-------------------*/
header {
    /*background-image: url(img/banner2.jpg);*/
    background-size: cover;
    height: 100vh;
}

header h1 {
    color: #f61067;
    padding: 10px;
    font-size: 300%;
    font-stretch: expanded;
}

header h3 {
    color: #f1eff1;
    margin: 0px 10px;
}

.main-nav {
    text-decoration: none;
    word-spacing: 25px;
    letter-spacing: 2px;
    margin: 20px;
    float: right;
}

header li {
    display: inline;
}

header li a {
    text-decoration: none;
    border-bottom: 3px solid #f61067;
    padding-bottom: 3px;
}

.page-title {
    clear: both;
    padding: 100px 0 0 30px;
    
}

/*-------------------*/
/*FORM*/
/*-------------------*/

/*.contact-form {
    width: 60%;
    margin: 0 auto;
}

imput[type=text],
imput[type=email],
select, 
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px; 
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {
    outline: none;
}*/

/*-------------------*/
/*FOOTER*/
/*-------------------*/



