/* need to adjust as needed - use a template and learn to do it myself!
Color Palette:
lightest purple1: #f1eff1;
light purple2: #cec7cf;
pink: #f42e7a;
mid purple4: #927f92;
dark purple5: #24232c;

Font Family in CSS 
font-family: 'Raleway', sans-serif;
font-family: 'Lora', serif;
*/

/*-------------------*/
/*BASIC SETUP*/
/*-------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

html,
body {
    background-color: #cec7cf;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    clear: both;
}

h1,
h2,
h3,
li {
    font-family: 'Raleway', sans-serif;
    word-spacing: 5px;
    letter-spacing: 2px;
}

h1 {
    text-transform: uppercase;
    font-weight: 200;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    color: #f42e7a;
    padding: 20px 0;
    font-size: 200%;
}

h2:after {
    display: block;
    height: 3px;
    background-color: #24232c;
    content: " ";
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
    
}

p {
    font-family: 'Raleway', sans-serif;
}


/*-------------------*/
/*REUSABLE COMPONENTS*/
/*-------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.col p {
    line-height: 145%;
}

/*-------------------*/
/*HEADER*/
/*-------------------*/
header {
    background-image: linear-gradient(rgba(36, 35, 44, 0.5), rgba(36, 35, 44, 0.5)), url(img/pexels-photo-169573.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

header h1 {
    color: #f42e7a;
    padding: 10px;
    margin: 0;
    font-size: 400%;
    font-weight: bold;
    font-stretch: expanded;
    letter-spacing: 4px;
}

header h3 {
    color: #f1eff1;
    margin: 0px 12px;
}

.page-title {
    position: absolute;
    width: 1140px;
    top: 20%;
    left: 60%;
}

.main-nav {
    float: right;
    list-style: none;
    margin: 40px 40px 0 0;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #f1eff1;
    text-decoration: none;
    font-size: 90%;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 3px solid #f42e7a;
}

/*-------------------*/
/*ABOUT*/
/*-------------------*/

.about-section {
    background-color: #927f92;
    height: 700px
}

.about-section .row {
    background-color: #cec7cf;
    padding: 20px 0;
}

.about-section .col {
    width: 50%;
    margin: 30px auto;
}

.limmer-photo img {
    height: auto;
    width: 400px;
    float: left;
    margin: 30px 100px 20px 50px;
    border: 3px solid #927f92;
}
/*-------------------*/
/*FORM*/
/*-------------------*/

/*.contact-form {
    width: 60%;
    margin: 0 auto;
}

imput[type=text],
imput[type=email],
select, 
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px; 
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {
    outline: none;
}*/

/*-------------------*/
/*FOOTER*/
/*-------------------*/



